<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}" />
    <title>LetMeOrder | {% block title %}  {% endblock title %}</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'app/images/favicon.png' %}" >
</head> 
<body class="d-flex flex-column min-vh-100">
      <ul class="nav justify-content-center my-3">
        <li class="nav-item">
          <a class="btn btn-dark" aria-current="page" href="{% url 'user-view' %}">Back to Products</a>
        </li>
        {% block clearbtn %}  {% endblock clearbtn %}
      </ul>

      {% block main-content %} {% endblock main-content %}
      {% block payment-gateway %} {% endblock payment-gateway %}

      <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top fixed-bottom"> 
        <div class="d-flex align-items-center">
          <span class="mb-3 mb-md-0 text-body-primary text-light">Copyright : 2023 || Developed by : YG Corp.</span>
        </div>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'app/js/myscript.js' %}" ></script>

    <!-- Add this to your HTML template, make sure to adjust the paths as needed -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>