{% extends "app/base.html" %}
{% load static %}
{% block title %} Edit {% endblock title %} 

{% block main-content %}

<div class="container my-5">
    
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
            {% for a in title %}
            <a href="{% url 'products-category' cat=a.product_category %}" class="list-group-item list-group-item-action" aria-current="true">
                {{a.product_category}}
            </a>
            {% endfor %}
        </div>
        </div>
        <div class="col-sm-9">
            
            <div class="row">
                <h4 class="justify-content-center text-center my-2 font-monospace"> Choose a product to edit </h4>
                {% for prod in product %}
                    <div class="col text-center mb4">
                            <a href="{% url 'edit-product' id=prod.productid %}" class="btn">
                                <div>
                                    <img class="productimg" src="{{prod.product_image.url}}" alt=""/>
                                    <div class="fw-bold">{{prod.product_name}}</div>
                                    <div class="fw-bold">
                                        Rs.{{prod.product_price}}/-
                                    </div>
                                </div>
                            </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}