{% extends "app/base.html" %}
{% load static %}
{% block title %} Edit {% endblock title %} 

{% block main-content %}

<div class="container my-5">
    
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
            {% for a in title %}
            <a href="{% url 'products-category' storeID=request.session.storeid cat=a.product_category %}" class="list-group-item list-group-item-action" aria-current="true">
                {{a.product_category}}
            </a>
            {% endfor %}
        </div>
        </div>
        <div class="col-sm-9">
            
            <div class="row">
                <h3> Choose a product to edit </h3>
                {% for prod in product %}
                    <div class="col text-center mb4">
                            <a href="{% url 'edit-product' storeID=request.session.storeid id=prod.productid %}" class="btn">
                                <div>
                                    <img src="{{prod.product_image.url}}" width="200px" height="130px" alt=""/>
                                    <div class="fw-bold">{{prod.product_name}}</div>
                                    <div class="fw-bold">
                                        Rs.{{prod.product_price}}/-
                                    </div>
                                </div>
                            </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}