{% extends "app/homebase.html" %}
{% load static %}
{% block title %} Home {% endblock title %} 

{% block main-content %}
    <div class="container text-center">
        <div class="d-flex flex-container home">
            <div class="container justify-content-center">
                <h1 class="my-2 mx-5 text-center text-light">Welcome to LetMeOrder.in</h1>
                <h6 class="text-center text-light">A self-ordering system for your dearest customers</h6><br><br><br>
                <img class="homeboy" src="../../static/app/images/back.png" alt="">
            </div>
        </div>
    </div>
{% endblock main-content %}