{% extends "app/homebase.html" %}
{% load static %}
{% block title %} Home {% endblock title %} 

{% block main-content %}
    <div class="container  text-center">
        <div class="d-flex flex-container home">
            <div class="container justify-content-center">
                <h1 class="my-2 mx-5 text-center text-light">Welcome to LetMeOrder.in</h1>
                <h6 class="text-center text-light">A self-ordering system to let your hand pick a treat for you</h6><br>   
                <img class="homeboy" src="../../static/app/images/back.png" alt="">
            </div>
        </div>
        <div>
            <br>
            <h6 class="login-line">Login to continue your journey</h6>
        </div>
    </div>
{% endblock main-content %}