{% extends "app/cartbase.html" %}
{% load static %}
{% block title %} Parcel? {% endblock title %} 

{% block main-content %}

<div class=" container text-center" >
    <h1 class="my-1 mt-5 font-weight-bold">Parcel?</h1>
    <h5 class="my-5">Wanna get your order packed?</h5>
    <a href="{% url 'cartParcel' %}" class="text-decoration-none display-5 mx-4 font-weight-bold my-2 rounded-2 bg-info text-white p-2 px-5">Yes</a> <br><br><br>
    <a href="{% url 'cart' %}" class="text-decoration-none display-5 mx-4 font-weight-bold rounded-2 bg-info text-white p-2 px-5">No</a>
</div>

{% endblock main-content %}