{% extends "app/cartbase.html" %}
{% load static %}
{% block title %} Parcel? {% endblock title %} 

{% block main-content %}

<div class=" container text-center" >
    <h1 class="my-5 display-3 font-weight-bold">Parcel?</h1>
    <a href="{% url 'cartParcel' storeID=request.session.storeid %}" class="text-decoration-none display-4 mx-4 font-weight-bold rounded-circle bg-info text-white p-3 ">Yes</a>
    <a href="{% url 'cart' storeID=request.session.storeid %}" class="text-decoration-none display-4 mx-4 font-weight-bold rounded-pill bg-info text-white p-3 ">No</a>
</div>

{% endblock main-content %}