{% extends "app/loginbase.html" %}
{% load static %}
{% block title %} Pincode {% endblock title %} 

{% block main-content %}

<h1 class="welcome_line my-1">Hey Welcome!</h1>
<h6 class="text-center my-3">Search stores near you</h6><br>

<div class="container text-center">
    <div class="row my-0">
    <div class="col-sm-6 offset-sm-3">
        <form action="" method="post" novalidate class="shadow p-5" enctype="multipart/form-data">
            {% csrf_token %}
            {% for fm in form %}
                {{fm.label_tag}} <p class="my-3"> {{fm}} </p> <small class="text-danger">{{fm.errors|striptags}}</small>
                <br>
            {% endfor %}
            <input type="submit" value="Search" class="btn btn-primary"> <br>

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
            {% endif %}

            {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{msg.tags}}" role="alert">
                    {{msg}}
                </div>
            {% endfor %}
            {% endif %}
        </form>
        
    </div>
    </div>
</div>
<br><br><br><br>

{% endblock main-content %}