body{
    background-color: rgb(249, 249, 249);

}

html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.shadow{
    background-color: aliceblue;
}

.nav-link{
    color: rgb(47, 78, 67);
}

html{
    background-color: rgb(218, 218, 218);
}

.welcome_line{
    text-align: center;
}
.login-line{
    text-align: center;
}
.edit-line{
    text-align: center;
    font-size: 11px;
    text-decoration: none;
    color: blue;
    margin-top: -1rem;
    font-weight: 500;
}

.plus,.minus{
    text-decoration: none;
    cursor: pointer;
}

.order-completed{
    float: right;
}

.homeboy{
    width: 90%;

}

footer{
    width: 100%;
    margin-bottom: 0;
    background-color: rgb(46, 46, 46);
}

.home{
    background-image: linear-gradient(to right, rgb(60, 60, 60), rgb(0, 0, 0), rgb(0, 0, 0), rgb(60, 60, 60));
    border-radius: 40px;
}